<div class="folders">
  <% if (locals.folders) {%>
    <!-- Folders list -->
    <ul class="folder__list">
      <% folders.forEach((folder) => { %>
        <li class="folder" >
          <p class="folder__name"><a href="/folders/<%= folder.id %>"><%= folder.name %></a></p>
          <div class="btn-group">
            <!-- Update folder name -->
            <a class="link link--update folder__update"  href="/folders/<%= folder.id %>/update">
            Rename</a>

            <!-- Delete folder -->
            <form id="folder-form" action="/folders/<%= folder.id %>/delete" method="POST" >
              <button class="btn btn--primary btn--delete" type="submit" onclick="return confirm('This will delete ALL data inside this folder. Are you sure you want to continue?')">
                Delete</button>
            </form>
          </div>
        </li>

        
        
      <% }); %>
    </ul>
  <% } %>
</div>


