<header class="header">
  <div class="brand">
    <div class="logo"></div>

    <div class="title-container">
      <!-- Title -->
      <a href="/">
        <h1 class="title">Aegis</h1>
      </a>
    </div>
  </div>

  <nav>
    <ul>
        <li><a class="menu__link link link--cta" href="/files/upload">Add File</a></li>
        <% if(locals.currentUser) { %>
          <!-- <li><a class="menu__link link link--cta" href="/folders/new">New Folder</a></li> -->
           <li><button class="btn btn--newFolder" type="button">New Folder</button></li>
          <li class="menu__item"><a class="menu__link" href=""><%= currentUser.name %></a></li>
          <li>
            <form action="/logOut" method="post">
              <button class=" btn btn--logout" type="submit">Log Out</button>
            </form>
          </li>
        <% } else { %>
          <li class="menu__item"><a class="menu__link link link--login" href="/logIn">Log In</a></li>
          <li class="menu__item"><a class="menu__link link link--login" href="/signUp">Sign Up</a></li>
        <% } %>
    </ul>
  </nav>
</header>
