<header class="header">
  <div class="brand">
    <div class="logo"></div>

    <div class="title-container">
      <!-- Title -->
      <a href="/">
        <h1 class="title">Aegis</h1>
      </a>
    </div>
  </div>

  <nav>
    <% if(locals.currentUser) { %>
      <ul>
        <li class="menu__item"><a class="menu__link" href=""><%= currentUser.name %></a></li>
        <li>
          <form action="/logOut" method="post">
            <button class=" btn btn--logout" type="submit">Log Out</button>
          </form>
        </li>
      </ul>
    <% } else { %>
      <ul>
        <li class="menu__item"><a class="menu__link link link--login" href="/logIn">Log In</a></li>
        <li class="menu__item"><a class="menu__link link link--login" href="/signUp">Sign Up</a></li>
      </ul>
    <% } %>
  </nav>
</header>
