# Port to run the app on
PORT=8080

# Postgresql database local connection string
DATABASE_URL=postgresql://username:password@localhost:5432/database_name?schema=public

# Express session secret
SECRET=your_super_secret_session_string

# Cloudinary config
CLOUDINARY_URL=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=