/* ===================
   JOSH COMEAU'S RESET 
   =================== */

/* Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
}

/* Typographic tweaks */
body {
  min-height: 100svh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* Remove markers from lists */
ul {
  list-style-type: none;
}

/* Remove underlines from links */
a {
  text-decoration: none;
  color: var(--clr-black, black);
}

/* ===================
   END OF RESET 
   =================== */

/* Declare custom fonts */
@font-face {
  font-family: 'Besley Bold';
  src:
    url('/fonts/besley/besley-bold.woff2') format('woff2'),
    url('/fonts/besley/besley-bold.woff') format('woff');
}

@font-face {
  font-family: 'Besley Regular';
  src:
    url('/fonts/besley/besley-regular.woff2') format('woff2'),
    url('/fonts/besley/besley-regular.woff') format('woff');
}

@font-face {
  font-family: 'Besley Medium';
  src:
    url('/fonts/besley/besley-medium.woff2') format('woff2'),
    url('/fonts/besley/besley-medium.woff') format('woff');
}

@font-face {
  font-family: 'Figtree Regular';
  src:
    url('/fonts/figtree/figtree-regular.woff2') format('woff2'),
    url('/fonts/figtree/figtree-regular.woff') format('woff');
}

@font-face {
  font-family: 'Figtree Italic';
  src:
    url('/fonts/figtree/figtree-italic.woff2') format('woff2'),
    url('/fonts/figtree/figtree-italic.woff') format('woff');
}

/* CSS variables */
:root {
  /* Core units
  ============== */
  --base-unit: 0.25rem;
  --base-half-unit: calc(var(--base-unit) / 2);

  /* Typography
  ============== */
  /* Fonts */
  --ff-primary: 'Figtree Regular';
  --ff-secondary: 'Besley Medium';
  --ff-tertiary: 'Besley Regular';
  --ff-header: 'Besley Bold';
  --ff-error: 'Figtree Italic';

  /* Font sizes */
  --font-base-unit: var(--base-unit);
  --fs-12: calc(var(--font-base-unit) * 3);
  --fs-16: calc(var(--font-base-unit) * 4);
  --fs-18: calc(var(--font-base-unit) * 4.5);
  --fs-20: calc(var(--font-base-unit) * 5);
  --fs-24: calc(var(--font-base-unit) * 6);
  --fs-32: calc(var(--font-base-unit) * 8);
  --fs-40: calc(var(--font-base-unit) * 10);
  --fs-48: calc(var(--font-base-unit) * 12);
  --fs-64: calc(var(--font-base-unit) * 16);

  /* Font weights */
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  /* Space
  ========= */
  --space-base-unit: var(--base-unit);
  --space-4: var(--space-base-unit);
  --space-6: calc(var(--space-base-unit) * 1.5);
  --space-8: calc(var(--space-base-unit) * 2);
  --space-10: calc(var(--space-base-unit) * 2.5);
  --space-12: calc(var(--space-base-unit) * 3);
  --space-16: calc(var(--space-base-unit) * 4);
  --space-20: calc(var(--space-base-unit) * 5);
  --space-24: calc(var(--space-base-unit) * 6);
  --space-32: calc(var(--space-base-unit) * 8);
  --space-48: calc(var(--space-base-unit) * 12);
  --space-64: calc(var(--space-base-unit) * 16);
  --space-96: calc(var(--space-base-unit) * 24);
  --space-128: calc(var(--space-base-unit) * 32);
  --space-144: calc(var(--space-base-unit) * 36);
  --space-350: calc(var(--space-base-unit) * 87.5);
  --space-200: calc(var(--space-base-unit) * 50);
  --space-280: calc(var(--space-base-unit) * 70);
  --space-250: calc(var(--space-base-unit) * 62.5);
  --space-400: calc(var(--space-base-unit) * 100);
  --space-500: calc(var(--space-base-unit) * 125);
  --space-700: calc(var(--space-base-unit) * 175);
  --space-300: calc(var(--space-base-unit) * 75);
  --space-1200: calc(var(--space-base-unit) * 300);
  --space-56: calc(var(--space-base-unit) * 14);

  /* color
  ========= */
  --clr-gray-1: #ffffff;
  --clr-gray-2: #eeeeee;
  --clr-gray-3: #d5d5d5;
  --clr-gray-7: #6f6f6f;
  --clr-white: #fff;
  --clr-black: #000;
  --clr-accent: #044eac;
  --clr-bg: #f0f8ff;
  --clr-red: #ff0000;

  /* Border
  ========== */
  /* Border radius */
  --radius-base-unit: 0.3125rem;
  --bd-radius-small: calc(var(--radius-base-unit) * 1);
  --bd-radius-medium: calc(var(--radius-base-unit) * 2);
  --bd-radius-large: calc(var(--radius-base-unit) * 4);
  --bd-radius-round: 50%;

  /* Box shadow */
  --box-shadow-1: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  --box-shadow-2: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --box-shadow-3: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  --shadow-4: rgba(0, 0, 0, 0.45) 10px 25px 20px -20px;
}

body {
  font-family: var(--ff-primary), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
}

/* Header styles */
.header {
  display: flex;
  align-items: center;
  padding: var(--space-16, 1rem);
}

.brand {
  flex: 1;
  display: flex;
  align-items: center;
  gap: var(--space-10, 0.625rem);
}

.title {
  font-family: var(--ff-header), serif;
  color: var(--clr-accent, mediumblue);
}

.nav {
  flex: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline-end: var(--space-32, 2rem);
}

.nav__main,
.nav__user {
  display: flex;
  align-items: center;
  gap: var(--space-24, 1.5rem);
  font-weight: var(--fw-semi-bold);
}

.nav__item {
  padding: var(--space-8, 0.5rem) var(--space-24, 1.5rem);
}

.nav__link {
  padding: 0 0 var(--space-4, 0.5rem) 0;
  position: relative;
}

.nav__link::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--clr-black, black);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.nav__link:hover::before,
.nav__link:active::before {
  transform: scaleX(1);
}

/* Remove user agent button styles */
.btn {
  border: transparent;
  cursor: pointer;
  background-color: transparent;
  padding: var(--space-12, 0.75rem) var(--space-16, 1rem);
  border-radius: var(--bd-radius-medium, 0.625rem);
  font-weight: var(--fw-bold, 700);
}

.active {
  border-bottom: 2px solid var(--clr-black, black);
  border-radius: 0;
}

.nav__profile,
.btn--logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn--logout {
  padding: var(--space-6, 0.375rem) 0 var(--space-4, 0.5rem) 0;
}

.main-layout {
  flex: 1;
  display: flex;
}

.sidebar {
  flex: 1;
}

.main {
  flex: 5;
  height: 85svh;
  overflow-y: auto;
  margin-inline-end: var(--space-32, 2rem);
  border-radius: var(--bd-radius-small, 0.3125rem);
  box-shadow: var(--shadow-4, rgba(0, 0, 0, 0.45) 10px 25px 20px -20px);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--space-16, 1rem);
  font-weight: var(--fw-semi-bold);
  background-color: var(--clr-bg, ghostwhite);
  border-radius: 0 var(--bd-radius-medium, 0.625rem)
    var(--bd-radius-medium, 0.625rem) 0;
}

.nav__actions,
.nav__utilities {
  display: grid;
  gap: var(--space-10, 0.625rem);
}

.sidebar .nav__link,
.sidebar .nav__item {
  display: flex;
  align-items: center;
  gap: var(--space-10, 0.625rem);
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: var(--space-16, 1rem);
}

.hero__heading {
  font-size: var(--fs-32, 2rem);
  margin-block-end: var(--space-16, 1rem);
}

.hero__upload {
  width: var(--space-350, 21.875rem);
  height: var(--space-200, 12.5rem);
  border-radius: var(--bd-radius-, 1.25rem);
  overflow: hidden;
  box-shadow: var(--box-shadow-2, rgba(0, 0, 0, 0.35) 0px 5px 15px);
}

.hero__img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero__cloud {
  width: var(--space-700, 43.75rem);
  height: var(--space-300, 18.75rem);
  border-radius: var(--bd-radius-, 1.25rem);
  overflow: hidden;
  z-index: -1;
  position: absolute;
  bottom: -15rem;
}

.features {
  display: flex;
  justify-content: center;
  gap: var(--space-16, 1rem);
  max-inline-size: var(--space-1200, 75rem);
  margin: auto;
  padding-block-start: var(--space-280, 17.5rem);
}

.feature {
  padding: var(--space-16, 1rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-16, 1rem);
  flex: 1;
}

.feature__container {
  width: var(--space-56, 3.5rem);
  height: var(--space-56, 3.5rem);
  border-radius: var(--bd-radius-medium, 0.625rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__container--upload {
  background-color: #e0f2fe;
}

.feature__container--privacy {
  background-color: #e4f9f5;
}

.feature__container--delivery {
  background-color: #feecd2;
}

.footer {
  padding: var(--space-16, 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: var(--fw-semi-bold, 600);
}

.wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login,
.signup {
  width: 600px;
  border: 1px solid var(--clr-gray-3, lightgray);
  border-radius: var(--bd-radius-medium, 0.625rem);
  box-shadow: var(--box-shadow-2, rgba(0, 0, 0, 0.35) 0px 5px 15px);
  padding: var(--space-32, 2rem) var(--space-48, 3rem);
  font-size: var(--fs-20, 1.25rem);
  display: grid;
  gap: var(--space-16, 1rem);
}

.signup {
  overflow-y: auto;
  height: 75svh;
}

.form {
  display: grid;
  gap: var(--space-20);
}

.form__control,
.form__label,
.form__input {
  width: 100%;
}

.form__label {
  display: block;
  margin-block-end: var(--space-6, 0.375rem);
  font-weight: var(--fw-bold, 700);
}

.form__input {
  display: block;
  padding: var(--space-8, 0.5rem);
  border: 1px solid var(--clr-black, black);
  border-radius: var(--bd-radius-small, 0.3125rem);
}

.btn--cta {
  background-color: var(--clr-accent, mediumblue);
  color: var(--clr-white, white);
  margin-block-start: var(--space-16, 1rem);
}

/* Style errors */
.errors {
  color: var(--clr-red, red);
  font-family: var(--ff-error), sans-serif;
}

.errors__list,
.upload__list {
  list-style-type: disc;
  padding-inline-start: var(--space-16, 1rem);
}

.password-requirements {
  display: block;
  margin-block-end: var(--space-8, 0.5rem);
  font-family: var(--ff-error), sans-serif;
  font-size: var(--fs-16, 1rem);
}

.upload,
.new-folder,
.file-rename {
  padding: var(--space-16, 1rem);
}

.upload__form {
  padding: var(--space-32, 2rem);
  border: 1px solid var(--clr-black, black);
}

.upload__label {
  display: inline-block;
  border: 1px solid var(--clr-black, black);
  margin-block-end: var(--space-16, 1rem);
}

.upload__preview {
  border: 1px solid var(--clr-black, black);
}

.upload__text {
  padding: var(--space-16, 1rem);
}

.upload__item {
  display: flex;
  align-items: center;
  gap: var(--space-16, 1rem);
}

hr:last-child {
  border-width: 0;
}

.form__btns {
  display: flex;
  align-items: center;
  gap: var(--space-16, 1rem);
}

.btn--cancel {
  border: 1px solid var(--clr-black, black);
}

.btn--submit {
  color: var(--clr-white, white);
  background-color: var(--clr-black, black);
}

.form--new-folder,
.form--file-rename {
  width: var(--space-500, 31.25rem);
  padding: var(--space-32, 2rem);
  border: 1px solid var(--clr-black, black);
  border-radius: var(--bd-radius-medium);
}

.new-folder__label {
  font-size: var(--fs-18, 1.125rem);
}

.new-folder__instructions {
  display: block;
  margin-block-end: var(--space-8, 0.5rem);
}

.folders,
.files {
  padding: var(--space-32, 2rem);
}

.folders__heading,
.files__heading {
  margin-block-end: var(--space-8, 0.5rem);
}

.folder,
.file {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-8, 0.5rem);
}

.folder {
  padding-inline-start: var(--space-10, 0.625rem);
}

.folder__name,
.file__name {
  display: flex;
  align-items: center;
  gap: var(--space-10, 0.625rem);
  font-size: var(--fs-18, 1.125rem);
}

.folder__btns,
.file__btns {
  display: flex;
  align-items: center;
  gap: var(--space-16, 1rem);
}

.link--update,
.btn--delete,
.btn--download {
  border: 1px solid var(--clr-black, black);
  background-color: transparent;
  box-shadow: var(--box-shadow-3, rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px);
  cursor: pointer;
  padding: var(--space-4, 0.25rem);
}

.sub-folder,
.file-info {
  padding: var(--space-32, 2rem);
  display: flex;
  flex-direction: column;
  gap: var(--space-16, 1rem);
}

.breadcrumbs {
  padding: var(--space-8);
  background-color: var(--clr-gray-2);
}

.breadcrumbs__list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: var(--fs-18, 1.125rem);
}

.breadcrumbs__item {
  display: flex;
  align-items: center;
}

.breadcrumbs__separator {
  font-size: var(--fs-20, 1.25rem);
}

.link--home,
.breadcrumbs__link {
  color: var(--clr-accent, mediumblue);
}

.link--home:hover,
.breadcrumbs__link:hover {
  text-decoration: underline;
}

.file-info {
  height: 100%;
}

.file-info__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block-start: var(--space-32, 2rem);
  border: 1px solid var(--clr-black, black);
}

.file-info__wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-32, 2rem);
}

.file-info__list {
  display: flex;
  flex-direction: column;
  gap: var(--space-16, 1rem);
}

.file-info__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file-info__preview,
.file-info__audio,
.file-info__img {
  width: var(--space-400, 25rem);
  height: var(--space-250, 15.625rem);
}

.file-info__img {
  object-fit: contain;
}


.loader {
  width: 70px;
  height: 40px;
  color: #269af2;
  --c: radial-gradient(farthest-side,currentColor 96%,#0000);
  background: 
    var(--c) 100% 100% /30% 60%,
    var(--c) 70%  0    /50% 100%,
    var(--c) 0    100% /36% 68%,
    var(--c) 27%  18%  /26% 40%,
    linear-gradient(currentColor 0 0) bottom/67% 58%;
  background-repeat: no-repeat;
  position: relative;
}
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  background: inherit;
  opacity: 0.4;
  animation: l7 1s infinite;
}
@keyframes l7 {
  to {transform:scale(1.8);opacity:0}
}

.error {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: var(--space-48, 3rem);
}

.error__wrapper {
  display: grid;
  gap: var(--space-24, 1.5rem);
  align-content: start;
  /* display: flex;
  flex-direction: column;
  gap: var(--space-24); */
}

/* Style error page */
.error__code {
  font-size: var(--fs-48, 3rem);
}

.error__title {
  font-size: var(--fs-32, 2rem);
}

.error__message {
  font-size: var(--fs-24, 1.5rem);
}
