<!DOCTYPE html>
<html lang="en">
  <!-- Head -->
  <%- include('../partials/head.ejs') %>
  <body>
    <!-- Header -->
    <%- include('../partials/header.ejs') %>

    <!-- Main content-->
    <main class="main">
      <div class="wrapper">
        <dialog class="dialog">
          <form class="form" action="/folders/new" method="POST">
            <h2 class="">New Folder</h2>
            <div class="form__control">
              <label class="form__label" for="folderName">Folder Name (required)
                <span>Folder name can not contain the characters \, /, :, *, ?, <, ></span>
              </label>
              <input
                class="form__input"
                id="folderName"
                name="folderName"
                placeholder="Name"
                type="text"
                value="<%= locals.user?.folderName || '' %>"
                pattern="[^\\/:*?<>|]+"
                required
                 />
            </div>
            <div class="form__buttons">
              <button class="btn btn--cta btn--form" type="button">Cancel</button>
              <button class="btn btn--cta btn--form" type="submit">Create</button>
            </div>
          </form>
        </dialog>
      </div>
    </main>

    <!-- Footer -->
    <%- include('../partials/footer.ejs') %>
  </body>
</html>
